* {
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Historia Sky";
  src:
    url("fonts/historia-sky.woff2") format("woff2"),
    url("fonts/historia-sky.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

a {
  text-decoration: none;
  position: relative;
  text-align: center;
  color: black;
}

a::before {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 100%;
  background-color: black;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

a:hover::before {
  transform: scaleX(1);
}

.about_content {
  line-height: 30px;
  padding: 10px 0;
}

.about_section {
  padding: 150px 150px;
}

body {
  font-family: "IBM Plex Mono", monospace;
  background-color: #fdf7f4;
}

button {
  border-radius: 8px;
  padding: 10px 5px;
}

.container {
  display: flex;
  height: 75dvh;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 0 150px;
}

.contact_name {
  display: flex;
  gap: 20px;
}

.contact_us {
  background-image: url("/images/contact-us.png");
  height: 500px;
  width: 700px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.contact_container {
  display: flex;
  /* gap: 10px; */
}

.contact_form {
  padding: 50px;
}

.current{
    width: 1000px;
    margin-bottom: 30px;
}

.email {
  padding: 10px 0;
}

footer {
  display: flex;
  justify-content: center;
  font-size: 13px;
  padding: 10px;
  color: rgb(143, 141, 140);
}

label {
  margin: 4px 0;
}

.message {
  padding: 10px 0;
}

input {
  border-radius: 9px;
  height: 44px;
  width: 100%;
  font-size: 18px;
  padding: 0 15px;
}

.menu_items {
  display: flex;
  gap: 100px;
  text-align: center;
  list-style-type: none;
}

.menu_links {
  display: flex;
  color: black;
  display: inline-block;
}

.name {
  font-size: 85px;
  font-family: "Historia Sky", cursive;
  text-align: center;
  width: 500px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px;
  /* background-color: #3F4F44; */
  box-shadow: 10px, black;
}

p {
  color: rgb(71, 68, 63);
}

.role {
  text-align: center;
  width: 500px;
}

.role_box {
  padding: 50px;
}

.sub_heading {
  font-size: 24px;
  padding-bottom: 50px;
  font-weight: 500;
}

section {
  padding: 50px 150px;
}

textarea {
  min-width: 100%;
  border-radius: 9px;
  min-height: 200px;
  font-size: 18px;
  padding: 15px 15px;
}

.verb_noun {
  font-size: 12px;
}

label {
  display: block;
}

.thumbnail{
    background-image: url("/images/pngegg.png");
    padding: 5px;
    height: 75px;
    width: 75px;
    background-size: cover;
    background-color: black;
    border-radius: 8px;
}

.project_card{
    display: flex;
    gap: 40px;
    padding: 25px 25px;
    width: 500px;
    /* height: 130px; */
    border: gray;
    background-color: bisque;
    border-radius: 16px;
    transition: transform 0.3s ease;
}

#projects_container{
    display: flex;
    flex-direction: column;
    gap: 30px;
    cursor: pointer;
}

.project_card:hover{
    transform: scale(1.1);
}

.project_heading{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
}