*{
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: "Playwrite NZ Basic", cursive;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: #0fb992da;
    width: 100%;
    box-shadow: 10px, black;
}

.menu_items {
    display: flex;
    gap: 100px;
    text-align: center;
    list-style-type: none;
}

.menu_links{
    color: white;
    display: inline-block;
}

a {
    text-decoration: none;
    position: relative;
    color: white;
}

a::before{
    content: "";
    position: absolute;
    display: block;
    left: 0;
    bottom: 0;
    height:2px;
    width: 100px;
    background-color: white;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

a:hover::before{
    transform: scaleX(1);
}